div{
    padding:0;
    margin:0;
}

#analog{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
}

#clock{
    display: inline-block;
    border: 5px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#hand{
    display:inline-block;
    width: 4px;
    height: 70px;
    background-color: black;
    transform-origin: 2px 70px;
    transform: translateY(5px) translateX(73px);
}

#head:hover #hand{
    transform: translateY(5px) translateX(73px) rotate(1turn);
    transition: transform 10s linear;
}

