#analog{
    text-align: center;
}

#reset{
    display: block;
    margin: auto auto;
}

#clock{
    display:inline-block;
    margin: 4% auto;
    border: 5px solid black;
    width: 150px;
    height: 150px;
    border-radius: 80px;
   
}

#hand{
    display:inline-block;
    width: 4px;
    height: 75px;
    background-color: black;
    transform-origin: 2px 70px;
    transform: translateY(5px);
}

.anim{
    animation: 10s linear infinite rotor;
}

@keyframes rotor{
    from{
        transform:translateY(5px) rotate(0deg);
    }
    to{
        transform:translateY(5px) rotate(360deg);
    }
}

