
body{
    padding:0;
    margin:0;
    border: 0;
    background-color: black;
}
#container {
  display: flex;
  flex-wrap: wrap;
}

#header {
  text-align: center;
  background-color: pink;
  flex-basis: 100vw;
  height: 15vh;
}

#digital {
  background-color: powderblue;
  flex-grow: 1;
  height: 35vh;
}

#analog {
  background-color: bisque;
  flex-grow: 1;
  height: 35vh;
}
#carousel {
  background-color: black;
  flex-basis: 100vw;
  height: 50vh;
}

#carousel{
    background-color: black;
    flex-basis: 100vw;
    height: 50vh;
}

button{
    font-size: 2vh;
}
