#countdownTimer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  font-size: 7vh;
}

/* .main { */
#digital {
  background-color: aquamarine;
  text-align: center;
}

.reset {
  margin: 5vh;
}
