.carousel{
    background-color: black;
}

.carousel_nav{
    width: 100vw;
    height: 5vh;
    text-align: center;
}

.items{
    width: 100vw;
    height: 40vh;
}

.resetButton{
    width: 100vw;
    height: 5vh;
    text-align: center;
}

img{
    width: 50vw;
    height: 36vh;
}

.button{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
}

.selected{
    background-color: rgba(255, 255, 255, 0.5);
}
