.carousel{
    background-color: black;
}

.carousel__nav{
    width: 100vw;
    height: 5vh;
    text-align: center;
}

.item{
    width: 100vw;
    height: 40vh;
}

.resetButton{
    width: 100vw;
    height: 5vh;
    text-align: center;
}

img{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 25vw;
    margin-right:25vw;
    width: 50vw;
    height: 36vh;
}

.carousel__button{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
}

.carousel__button--selected{
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel__item{
    display: none;
}
.carousel__item--selected{
    display: block;
}