.carousel{
    background-color: black;
}

.carousel_nav{
    width: 100vw;
    height: 5vh;
    text-align: center;
}

.resetButton{
    width: 100vw;
    height: 5vh;
    text-align: center;
}

img{
    width: 33vw;
    height: 40vh;
}

.button{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
}

.selected{
    background-color: rgba(255, 255, 255, 0.5);
}

.item {
    width: 33vw;
    height: 40vh;
    opacity: 0;
    position: fixed;
    right: 33vw;
    z-index: 0.5;
}

.current{
    opacity: 1;   
    animation: 10s linear infinite fade;
}

@keyframes fade {
    from{
        opacity:1;
        transform: translateX(0);
    }
    90%{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity:0;
        transform: translateX(-33vw);
    }
}

.next{
    opacity: 1;
    animation: 10s linear infinite emerge;
}

@keyframes emerge {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    90% {
        opacity: 0;
        transform: translateX(33vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}